{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "quotes": ["off", "double"],
    "no-console": 0,
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "object-curly-newline": 0,
    "function-paren-newline": ["off", "never"],
    "operator-linebreak": "off", 
    "no-param-reassign": [2, { "props": false }],
    "comma-dangle": [
      "off",
      { "objects": "always-multiline", "imports": "only-multiline" }
    ],
    "import/extensions": [
      "error", "ignorePackages",
      { "ts": "never" }
    ],
    "max-len": [ "error",
      { "code": 180 }
    ],
    "implicit-arrow-linebreak": "off",
    "@typescript-eslint/no-extra-semi": 0,
    "no-await-in-loop": "off"
  }
}